export(read_bibliography, write_bibliography,
summary.bibliography, print.bibliography, summary.review_info,
format_citation,
make_reference_dataframe, find_duplicates, extract_unique_references,
make_DTM, run_LDA, start_review_window)
S3method(print, bibliography)
S3method(summary, bibliography)
S3method(summary, review_info)
importFrom(grDevices, grey)
importFrom(plotly, renderPlotly, event_data)
importFrom(shiny, sliderInput, selectInput, textInput, actionButton, tableOutput, uiOutput, reactiveValues, observeEvent, observe, renderPrint)
importFrom(shinydashboard, sidebarMenu, menuItem, menuSubItem)
importFrom(stats, xtabs)
importFrom(tm, removePunctuation, removeWords, removeNumbers, stemDocument, tm_map, Corpus, VectorSource, DocumentTermMatrix, removeSparseTerms, stopwords, content_transformer)
importFrom(utils, head, tail, write.csv, write.table)