export(as.bibliography, read_bibliography, write_bibliography,
summary.bibliography, print.bibliography, '[.bibliography', summary.review_info,
find_duplicates, extract_unique_references,
make_DTM, run_LDA, start_review_window)
S3method(print, bibliography)
S3method(summary, bibliography)
S3method(as.data.frame, bibliography)
S3method('[', bibliography)
S3method(summary, review_info)
importFrom(ade4, dudi.coa)
importFrom(grDevices, grey)
importFrom(modeltools, posterior)
importFrom(plotly, renderPlotly, event_data, "%>%")
importFrom(shiny, sliderInput, selectInput, textInput, actionButton, tableOutput, uiOutput, reactiveValues, observeEvent, observe, renderPrint, isolate, fluidRow, strong, column, icon, p)
importFrom(shinydashboard, sidebarMenu, menuItem, menuSubItem)
importFrom(stats, xtabs)
importFrom(tm, removePunctuation, removeWords, removeNumbers, stemDocument, tm_map, Corpus, VectorSource, DocumentTermMatrix, removeSparseTerms, stopwords, content_transformer, weightTf)
importFrom(topicmodels, LDA, CTM, get_terms)
importFrom(utils, head, tail, write.csv, write.table)
importFrom(viridisLite, magma, viridis, inferno, plasma)
