@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

h1, h2, h3, h4, .h1, .h2, .h3, .main-title, .main-subtitle {
  font-family: Lato;
  font-weight: normal;
  color: #8C2981;
}

a {
    color: #5b218d;
    text-decoration: none;
}

a:hover {
  color: #721ba4;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img.hex {
  float: right;
  width: 129px;
  height: 150px;
  vertical-align: middle;
  padding: 5px 15px 5px 0px;
}

img.screenshot_tall {
  float: left;
  width: 200px;
  vertical-align: left;
  padding: 5px 15px 5px 0px;
}

.banner-logo {
  height: 58px;
}