.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img.hex {
  float: right;
  width: 129px;
  height: 150px;
  vertical-align: middle;
  padding: 5px 15px 5px 0px;
}

img.screenshot_tall {
  float: left;
  width: 200px;
  vertical-align: left;
  padding: 5px 15px 5px 0px;
}

.navbar.bg-dark {
  background-image: linear-gradient(to bottom, #27114D, #371554);
}

.navbar-dark .navbar-brand:hover {
    color: #8C2981;
}

.nav-item:selection {
  background-color: #8C2981;
}

.nav-item:hover {
  background-color: #8C2981;
}

.banner-logo {
  height: 58px;
}